.contactUs {   
    .my-flex-container();

    width: 80%;
    .for-tablet-portait-only();
    .for-phone-portait-only();
    .for-phone-only();
   
    p {
        font-size: 1.4rem;
        line-height: 1.6rem;
        letter-spacing: 0.175rem;
        margin: 5% 0;
        width: 50%;
    }


    figure {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        flex-wrap: wrap;       
        
        img {
            opacity: 0.25;
            margin: 0 2%;
        }
    }

    hr {
        width: 100%;
        margin: 7% 0;
        border: 1px solid #c2c2c2;
    }

    h2 {
        font-weight: 900;
        font-size: 4.4rem;
        line-height: 5rem;
        margin-bottom: -3%;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.0244444rem;
        color: @ldark-charcoal;
    }

    .usersInfo {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        margin-bottom: 3%;

        input {
            max-width: 18rem;
            padding: 2%;
            border-radius: 4rem;
        }

        ::placeholder {
            width:  13.8rem;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            color: @cod-grey;
            mix-blend-mode: normal;
            opacity: 0.7;
        }

        button {
            background: @yellow;
            border-radius: 4rem;
            max-width: 21rem;
            padding: 2%;
            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.198681);
            font-weight: bold;
            font-size: 1.4rem;
            line-height: 1.6rem;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            letter-spacing: 0.175rem;
            color: @black;
        }

        @media (min-width: 320px) and (max-width: 639px) {
            
            flex-direction: column;
            input {
                margin: 2% 0;
            }
            button {
                margin: 2% 0;
            }
        }
    }

    @media (min-width: 415px) and (max-width: 639px) {
        
        h2 {
            font-size: 4rem;
        }
        p {
            width: 90%;
        }
    }
   
    @media (min-width: 320px) and (max-width: 414px) {
        
        h2 {
            font-size: 3rem;
        }
        p {
            width: 90%;
        }
    }
}
