main {

    width: 80%;
    .for-tablet-portait-only();
    .for-phone-portait-only();
    .for-phone-only();

    .mainArticle2 {
        // background: linear-gradient(0deg, #F4F4F4 3.67%, #DFDEDC 98.35%);
        // mix-blend-mode: normal;
        // opacity: 0.5;
        // width: 100%;

        header {  

            .my-flex-container();
            margin: 5% 0 0 0;

            h2 {
                font-weight: 800;
                font-size: 4.4rem;
                line-height: 5rem;
                display: flex;
                align-items: center;
                text-align: center;
                color: @black;
            }

            @media (min-width: 415px) and (max-width: 639px) { 
                
                h2 {
                    font-size: 3.5rem;
                }
            }

            @media (min-width: 320px) and (max-width: 414px) {
                
                h2 {
                    font-size: 2.5rem;
                }
            }
        }

        div {

            display: flex;
            align-items: center;
            justify-content: center;

            aside {
                .my-flex-container();

                div {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    
                    margin: 6% 0;
                    max-width: 32rem;
                   
                    h3 {
                        font-weight: bold;
                        font-size: 2.2rem;
                        line-height: 2.8rem;
                        display: flex;
                        align-items: center;
                        color: @black;
                    }

                    p {
                        text-align: left;
                        font-size: 1.8rem;
                        line-height: 2.8rem;
                    }
                }
            }
           
            figure {
                margin: 5%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        // @media (min-width: 320px) and (max-width: 414px) {
        @media (min-width: 320px) and (max-width: 639px) {
            
            div {
                flex-direction: column;
                
                aside {
                    
                    div {
                        
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
                
            }
            
            figure {
                display: none;
            }          
        }   
        
        .horizontalScroll2 {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }
}

