
.section1 {
    
    .navBanner-background-color();
    .my-flex-container();
    width: 100%;

    .banner {

        margin: 2% 0 5% 0;
        width: 80%;
        .for-tablet-portait-only();
        .for-phone-portait-only();
        .for-phone-only();

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .bannerText {
            
            // display: flex;
            // align-items: flex-start;
            // justify-content: center;
            // flex-direction: column;
            width: 50%;

            h1 {
                font-weight: 800;
                font-size: 6.4rem;
                line-height: 106%;
                
                display: flex;
                align-items: center;
                color: @black;
            }

            .organize {
                color: @yellow;
            }

            h3 {
                font-weight: 500;
                font-size: 2rem;
                line-height: 162.5%;
                
                display: flex;
                align-items: center;
                letter-spacing: -0.1px;
                margin-top: 2%;

                color: #000000;
            }

            figure {
                width: 100%;
                margin-top: 25%;

                img {
                    width: 25%;
                    height: auto;
                }
            }
            
            @media (min-width: 320px) and (max-width: 639px) {  
               
                flex: 1;
               
                h1 {
                    font-size: 5.8rem;
                }

                figure {
                    width: 100%;
                    margin-top: 20%;

                    img {
                        min-width: 30%;
                        height: auto;
                    }
                }         
            }
        }

        .bannerBackgroundImage {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            img {
                width: 100%;
                height: auto;
            }

            @media (min-width: 320px) and (max-width: 639px) { 
                display: none; 
            }
        }
    }
}


main {
    width: 80%;
    .for-tablet-portait-only();
    .for-phone-portait-only();
    .for-phone-only();

    .mainArticle1 {

        header {   
            .my-flex-container();
            margin: 10% 0 3% 0;

            h2 {
                font-weight: 800;
                font-size: 4.4rem;
                line-height: 5rem;
                
                display: flex;
                align-items: center;
                text-align: center;

                color: @ldark-charcoal;
            }

            p {
                line-height: 2.8rem;
            }

            @media (min-width: 415px) and (max-width: 639px) {
                
                h2 {
                    font-size: 3.5rem;
                }
            }
            @media (min-width: 320px) and (max-width: 414px) {
                
                h2 {
                    font-size: 2.2rem;
                }
            }
        }

        div {
            
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            
            width: 100%;

            figure {

                display: flex;
                align-content: center;
                justify-content: stretch;
                flex-direction: column;
                max-width: 30rem;
                margin: 2% 1%;

                figcaption {
                    .my-flex-container();
                    
                    font-weight: lighter;
                    font-size: 2rem;
                    line-height: 1.9rem;
                    color: @black;
                    margin: 0 0 2% 0;
                }
                
                p {
                    line-height: 2.6rem;
                    font-size: 1.5rem;
                }
            }
        }

        @media (min-width: 320px) and (max-width: 620px) {
            
            .horizontalScroll {
                margin: 6% 0 2% 0;
                display: flex;
                align-items: stretch;
                justify-content: unset;
                flex-wrap: nowrap;
                overflow-x: auto;
                
                -webkit-overflow-scrolling: touch;
                &::-webkit-scrollbar {
                    display: none;
                }
            
                figure {
                min-width:  315px;    
                }
            }
        }
    }
}
