@import "reset.less";



.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 1400px;

    background-color: aqua;
}

.section1 {
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    header {
        background-color:red;

        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        width: 80%;
        height: 10%;
        // flex: 1;

        nav {
            background-color:yellow;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            
            figure {
                background-color:firebrick;

                width: 20%;
                
                img {
                    width: 25%;
                    height: auto;
                }
            }

            ul {
            background-color: aquamarine;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-end;

                li {
                    margin: 0 2%;
                }
            }
        }  
    }

    .banner {
        background-color: blanchedalmond;

        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .bannerText {
            background-color: olive;

            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 50%;

            h1 {
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 400%;
                line-height: 106%;
                /* or 64px */

                display: flex;
                align-items: center;
                color: #000000;
            }

            h3 {
                font-family: Raleway, "Rajdhani";
                font-style: normal;
                font-weight: 500;
                font-size: 125%;
                line-height: 162.5%;
                /* or 25px*/

                display: flex;
                align-items: center;
                letter-spacing: -0.1px;
                margin-top: 2%;

                color: #000000;
            }

            figure {
                background-color: tomato;

                width: 100%;
                margin-top: 25%;

                img {
                    width: 25%;
                    height: auto;
                }
            }
        }

        .bannerBackgroundImage {
            background-color: indigo;
            width: 50%;
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: flex-end;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}


main {
    background-color: hotpink;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .mainArticle1 {
        background-color: rosybrown;
        
        // width: 100%;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 44px;
                line-height: 50px;
                /* identical to box height, or 114% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #2F2F2F;
            }

            p {
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                /* or 156% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #747E80;

            }
        }

        div {
            background-color: orange;

            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            figure {
                background-color: forestgreen;

                display: flex;
                align-content: center;
                justify-content: center;
                flex-direction: column;
                width: 320px;
                // padding: 2%;
                margin: 2%;

                img {
                    
                }

                figcaption {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 19px;
                    /* identical to box height */

                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: center;
                    letter-spacing: 2px;

                    color: #000000;
                }
                
                p {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    /* or 162% */

                    display: flex;
                    align-items: center;
                    text-align: center;

                    // color: #747E80;

                    mix-blend-mode: normal;
                    opacity: 0.9;
                }
            }
        }
    }

    .mainArticle2 {
        // display: flex;
        // align-content: center;
        // justify-content: center;
        // flex-direction: column;
        background-color: crimson;
        width: 100%;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 44px;
                line-height: 50px;
                /* identical to box height, or 114% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #2F2F2F;
            }
        }

        div {
            background-color: greenyellow;
            display: flex;
            align-items: center;
            justify-content: center;

            aside {
                background-color: rgb(107, 52, 133);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                div {
                    background-color: rgb(149, 203, 224);
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    margin: 6% 0;
                    // padding: 2%;

                    h3 {
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 28px;
                        /* identical to box height, or 127% */

                        display: flex;
                        align-items: center;

                        color: #000000;
                    }

                    p {
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        /* or 156% */


                        color: #747E80;

                    }
                }
            }

            figure {
                 background-color: green;
                 
                 margin: 5%;
            }
        }
    }
}


.contactUs {
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 80%;

    p {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 1.75px;


        color: #747E80;
        width: 50%;
        text-align: center;
        // background-color: green;
    }

    figure {
        background-color: sandybrown;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        
        img {
            // background-color: aqua
            opacity: 0.25;
        }
    }

    hr {
        width: 100%;
        border: 1px solid #c2c2c2;
    }

    h2 {
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 50px;
        /* identical to box height, or 114% */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.244444px;

        color: #2F2F2F;
    }

    .usersInfo {
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: space-around;

        width: 60%;


        input {
            background: #F3F3F3;
            width: 180px;
            // height: 50px;
            padding: 2%;
            border-radius: 40px;
        }

        ::placeholder {
            width:  138px;
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;

            color: #303234;

            mix-blend-mode: normal;
            opacity: 0.7;
        }

        button {
            background: #FFEB38;
            border-radius: 40px;

            width: 210px;
            padding: 2%;

            box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.198681);

            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-align: center;
            letter-spacing: 1.75px;

            color: #000000;
        }
    }
}


footer {
    background-color: violet;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 80%;
    
    div{
        flex: 1;

        img {
            width: 25%;
            height: auto;
        }
        
        p{
            font-family: Playfair Display;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */

            display: flex;
            align-items: center;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.8;
        }

        .boldP {
            font-weight: bold;
        }

        // .socialMedia {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     img {
        //         background-color: #000000;
        //         width: 7%;
        //         // height: 5%;
        //     }

            
        // }
        // .fb, .tbl {
        //     background-color: orange;
        //     width: 5%;
        // }
    }
    .socialMedia {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
            background-color: #000000;
            width: 7%;
            // height: 5%;
            margin-right: 10%;
        }
        
        .fb, .tbl {
                background-color: orange;
                width: 4%;
            } 
    }
    
}