@import "reset.less";



.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 1400px;

    background-color: aqua;
}

.section1 {
    background-color: blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    header {
        background-color:red;

        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        width: 80%;
        height: 10%;
        // flex: 1;

        nav {
            background-color:yellow;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            
            figure {
                background-color:firebrick;

                width: 20%;
                
                img {
                    width: 25%;
                    height: auto;
                }
            }

            ul {
            background-color: aquamarine;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-end;

                li {
                    margin: 0 2%;
                }
            }
        }  
    }

    .banner {
        background-color: blanchedalmond;

        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .bannerText {
            background-color: olive;

            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 50%;

            h1 {
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 400%;
                line-height: 106%;
                /* or 64px */

                display: flex;
                align-items: center;
                color: #000000;
            }

            h3 {
                font-family: Raleway, "Rajdhani";
                font-style: normal;
                font-weight: 500;
                font-size: 125%;
                line-height: 162.5%;
                /* or 25px*/

                display: flex;
                align-items: center;
                letter-spacing: -0.1px;
                margin-top: 2%;

                color: #000000;
            }

            figure {
                background-color: tomato;

                width: 100%;
                margin-top: 25%;

                img {
                    width: 25%;
                    height: auto;
                }
            }
        }

        .bannerBackgroundImage {
            background-color: indigo;
            width: 50%;
            display: flex;
            align-items: center;
            // justify-content: center;
            justify-content: flex-end;

            img {
                width: auto;
                height: auto;
            }
        }
    }
}


main {
    background-color: hotpink;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .mainArticle1 {
        background-color: rosybrown;
        
        // width: 100%;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 44px;
                line-height: 50px;
                /* identical to box height, or 114% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #2F2F2F;
            }

            p {
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                /* or 156% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #747E80;

            }
        }

        div {
            background-color: orange;

            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;

            figure {
                background-color: forestgreen;

                display: flex;
                align-content: center;
                justify-content: center;
                flex-direction: column;
                width: 320px;
                // padding: 2%;
                margin: 2%;

                img {
                    
                }
            }
        }
    }

    .mainArticle2 {
        // display: flex;
        // align-content: center;
        // justify-content: center;
        // flex-direction: column;
        background-color: crimson;
        width: 100%;

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h2 {
                font-family: Raleway;
                font-style: normal;
                font-weight: 800;
                font-size: 44px;
                line-height: 50px;
                /* identical to box height, or 114% */

                display: flex;
                align-items: center;
                text-align: center;

                color: #2F2F2F;
            }
        }

        div {
            background-color: greenyellow;
            display: flex;
            align-items: center;
            justify-content: center;

            aside {
                background-color: rgb(107, 52, 133);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                div {
                    background-color: rgb(149, 203, 224);
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    margin: 6% 0;
                    // padding: 2%;

                    h3 {
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 22px;
                        line-height: 28px;
                        /* identical to box height, or 127% */

                        display: flex;
                        align-items: center;

                        color: #000000;
                    }

                    p {
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        /* or 156% */


                        color: #747E80;

                    }
                }
            }

            figure {
                 background-color: green;
                 
                 margin: 5%;
            }
        }

    }
}