
.section1 {

    header {
        margin: 3% 0;

        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 80%;
        height: 10%;
        .for-tablet-portait-only();
        .for-phone-portait-only();
        .for-phone-only();
        

        nav {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            
            figure {
                width: 20%;
               
                img {
                    background-color: @black;
                    width: 25%;
                    height: auto;
                }
            }

            ul {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: flex-end;

                li {
                    margin: 0 2%;
                    
                    a {
                        // display: flex;
                        // align-items: center;
                        
                        @media (min-width: 320px) and (max-width: 639px) {
                            font-size: 1.3rem;
                            letter-spacing: 0.05rem;
                        }
                    }                  
                }
            }
        }  
    }
}