// Variables

// Color pointers
@nav-font: @black;

@header-font-color: @black;
@main-font-color-p: @regent-grey;


@footer-background: @black-with-radiant;
@footer-font-color: @white;

// Color Vars
@yellow: rgb(255,255,0);
@black: #000000;
@white: #FFFFFF;
@regent-grey: #747E80;
@cod-grey:#303234;
@ldark-charcoal: #2F2F2F;
@black-with-radiant: rgba(0, 0, 0, 0.9);

// Mobile var
// @phone: ~"(max-width: 500px)";